html{
    --background: white;
    --background-dark: rgb(57, 57, 57);
    --background-light: white;
    --grey-1: rgb(141, 141, 141);
    --grey-2: rgb(57, 57, 57);
    --grey-3: #121212;
}

html.dark{
    --background: #121212;
    --grey-1: rgb(117, 115, 115);
    --grey-2: rgb(209, 209, 209);
    --grey-3: white;
}
*{
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--background);
    color: var(--grey-2);
}

h1{
    font-size: 3rem;
    font-weight: 600;
}

h1 + h2{
    font-size: 1.25rem;
}

b, strong{
    font-weight: 700;
}

.g-1{
    font-weight: 550;
}